.item{
    background-color: rgb(221, 221, 221);
    width: 90%;
    height: 16em;
    margin-top: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}